.AddContiner {
  background-color: #fff;
  height: 80%;
  width: 90%;
  margin: 35px 60px;
  opacity: 0.5;
  border-radius: 10px;
  position: absolute;
}
.AddContiner0 {
  margin: 12px 50px;
  width: 400px;
  height: 30px;
  border-radius: 15px;
  border: 0px;
  display: flex;
}
.AddContiner1 {
  height: 80%;
  width: 90%;
  margin: 35px 60px;
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.AddContiner1 input {
  font-size: 1rem;
  margin: 12px 50px;
  width: 400px;
  height: 30px;
  border-radius: 15px;
  border: 0px;
  padding-left: 20px;
}
.file {
  background-color: #fff;
  font-size: 1rem;
  margin: 12px 50px;
  width: 430px;
  height: 30px;
  border-radius: 15px;
  border: 0px;
  padding-left: 20px;
}
.AddContiner2 {
  height: 80%;

  margin: 35px 640px;
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.AddContiner2 textarea {
  font-size: 1rem;
  margin: 10px 50px;
  width: 430px;
  height: 194px;
  border-radius: 15px;
  border: 0px;
  padding: 10px 20px;
}
.AddContiner2 button {
  font-size: 1rem;
  height: 30px;
  width: 100px;
  background-color: #37314e;
  border-radius: 15px;
  border: 0px;
  cursor: pointer;
  color: white;
  margin: 180px 0px 0px 380px;
  font-weight: bold;
}
